<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BTLinQ.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=.;Initial Catalog=Northwind;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="BTLinQ.Properties.Settings.NorthwindConnectionString1"
            connectionString="Data Source=DESKTOP-I9CNFBC;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>